<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>821551838567-3p4hs6rlcg7uiphu02ri3k8ruagl7arc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.821551838567-3p4hs6rlcg7uiphu02ri3k8ruagl7arc</string>
	<key>API_KEY</key>
	<string>AIzaSyCL3mY86XwbM_IeosESx2DW-9Ei72Z6ltM</string>
	<key>GCM_SENDER_ID</key>
	<string>821551838567</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jp.inisj.tasuki.app</string>
	<key>PROJECT_ID</key>
	<string>tasuki-project</string>
	<key>STORAGE_BUCKET</key>
	<string>tasuki-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:821551838567:ios:e92a664850294fc3</string>
	<key>DATABASE_URL</key>
	<string>https://tasuki-project.firebaseio.com</string>
</dict>
</plist>